@import 'susy';

$rouge : #ed5d5d;
$texte : rgba(78, 89, 114, 1);
$bleu : rgba(83, 124, 150, 1);



//general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monserrat', sans-serif;
  color: $texte;
}


p {
  font-family: 'nunito', serif;
  font-size: 1em;
  font-weight: lighter;
}

header{
  position: relative;

  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0,0,0,0.02);
  margin: 20px;

  overflow: hidden;
}

.container {
    align-self: flex-start;
    overflow: hidden;
}

nav {

  position: absolute;
  width: 100%;
  padding: 40px 10%;

  .menu {
    width: span(10 of 12);
  }

  .logo {
    width: span(2 of 12);
    float:left;
  }

  .menu {
    padding: 30px 0;
    float: right;
    list-style: none;
    ul {
      float: right;
    }
    li{
      display: inline-block;
      float: right;
      margin-right: 40px;
      span {
        margin: 0 10px;
        border: 1px solid $rouge;
        padding: 15px;
        border-radius: 30px;
        background-color: $rouge;
        transition: all 0.2s;
        &:hover{
          background-color: transparent;
          a{color:$texte;}
        }
        a {
          border: none;
          font-weight: lighter;
          color: white;
          &:hover {
            border:none;
            color: $texte;
          }
        }
      }
      a {
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid $rouge;
        padding-bottom: 5px;
        transition: all 0.2s;
        &:hover {
          color: $rouge;
          border-bottom: 2px solid $texte;
        }
      }
    }
  }

  img{
    width: 50%;
  }

}

//HEADER
.header_content{
  align-self: center;
  width: span(6 of 12);
  margin-left: 10%;
  .header_divider{
    width: 20%;
    color: $rouge;
  }
  h1 {
    margin: 50px 0 30px 0;
    text-transform: uppercase;
    transition: font-size 0.5s;
  }
  h1:hover{
    font-size: 2em;
  }
  .subtitle {
    font-family: 'nunito', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 40px;
  }
  .btn_header {
    position: relative;
    height: 50px;
    width: span(6 of 12);
    font-family: 'nunito', sans-serif;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    text-align: left;
    padding-left: 20px;
    background-color: $rouge;
    border: none;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    transition: width 0.5s;
  }
  i{
    position: absolute;
    top: 10%;
    bottom: 20%;
    left: 10;
    right: 0;
    font-size: 1.3em;
    color: white;
    text-align: center;
    margin-right: 10px;
    line-height: 38px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    transform: rotate(0deg);
    transition: transform 0.2s;
  }
  .btn_header:hover {
    width: span(7 of 12);
    i{
      transform: rotate(90deg);
    }
  }
}

.header_image {
  width: span(4 of 12);
}

.header_footer {
  position: absolute;
  top:50;
  bottom: 0;
  left: 50;
  right: 0;
  margin: 20px 10%;

  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 30px;
    }
  }
}

// Section Portfolio
.title {
  width: 100%;
  text-align: center;
  margin: 60px auto;
  i {
    display: block;
    margin-bottom: 20px;
    color: $rouge;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 10%;
  .portfolio__projet {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    position: relative;
    cursor: pointer;
    flex-basis: span(380px + 20px);
    margin: 20px auto;
  }
}

.portfolio__projet-content{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  border: 15px solid $texte;
  padding: 10px;
  transform: translateY(100%);
  transition: .6s cubic-bezier(.77,0,.175,1);
  .portfolio__projet:hover &{
    transform: translateY(0);
  }
}

.projet-logo {
  text-align: center;
  margin-top: 15%;
}

.projet-description {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: 0 auto;

  padding: 5%;

  border-top: 1px solid rgba(0,0,0,0.2);
  i{
    color: $rouge;
  }
  p{
    color: rgba(0,0,0,0.5);
    margin: 15px 0;
  }
}

// Section Compétences
.section_competences{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 50px 10%;

  margin: 40px 0;

  background-color: rgba(0,0,0,0.12);
  .competences_title{
    width: 100%;
    text-align: center;
    h2{
    color: rgba(0,0,0,0.4);
  }
  .separation {
    width: 20%;
    margin: 50px auto 20px auto;
    border: 1px solid rgba(0,0,0,0.12);
  }
  .competences_description {
    color: rgba(0,0,0,0.5);
    margin: 10px 15%;
  }
  }
  .liste_competences {
    ul {
      list-style: none;
      text-align: center;
      li{
        display: inline-block;
        text-align: center;
        font-size: 3em;
        margin: 50px 30px;
        i{
        color: rgba(0,0,0,0.4);
        transition: all 0.5s;
        &:hover{
          color: $texte;
          transform: scale(1.1);
        }
      }
      }
    }
  }

}


// Section Présentation

.presentation span i {
  display: block;
  margin: 30px;
  color: $rouge;
}


.section__maintenance {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 10%;
  h3{
    margin: 40px 0;
    font-family: 'Nunito', sans-serif;
  }
}

//Offre web
.offre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
  margin-bottom: 50px;
  .offre_web {
    margin: 20px 20px 80px 20px;
    flex-basis: calc(250px + 50px);
    text-align: center;
    padding: 25px;

    transform: scale(1);
    transition: all 0.4s;

    h2 {
      margin: 15px 0;
    }
    i{
      font-size: 2em;
      margin: 20px;
      transition: all 0.4s;
    }
    &:hover {
      box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
      transform: scale(1.1);
      i {
        color: $rouge;
      }
    }
  }
}

//CTA
.cta {
  width: 100%;
  text-align: center;
  button {
    width: span(4 of 12);
    margin: 0 auto;
  }
}

.cta-btn {
  height: 50px;
  background-color: $rouge;
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  position: relative;

  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);

  text-align: left;

  padding-left: 40px;

  transition: all 0.4s;

  .icon_cta{
    background-color: rgba(0,0,0,0.3);
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    bottom: 0;
    left: 90%;
    right: 0;
    transform: translateX(-50%) translateY(-50%);

    i{
      color: white;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      font-size: 1.1em;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
  }
}



// Section Maintenance
.meth_maint {
  display: flex;
  flex-wrap: wrap;
  background-color: $bleu;
  p, h3{
  color: white;}
  .maintenance {
    width: span(8 of 12);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 30px;
    ul {
      list-style: disc;
      width: 80%;
      margin: 0 auto;
      li{
        color: white;
        font-family: 'nunito', arial;
        font-size: 0.9em;
        font-weight: lighter;
      }
    }
  }
  .commercial {
    width: span(4 of 12);
    flex: 1;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 30px;
    p, h4 {
    color: $texte;
    i{
      color: $rouge;
    }
    }
    h4 {
      margin: 40px 0;
    }
  }
  .cta {
    margin: 60px 0;
    button{
    width: span(10 of 12);
  }
  }
}

//Section Tristan Tornatore
.section_tristantornatore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
  margin: 80px 0;
  i {
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: $rouge;
  }
}

.tristantornatore__title {
  width: span(12 of 12);
  margin: 80px 0;
  text-align: center;
  h2{
    margin-bottom: 30px;
  }
}

.tristantornatore__part {
  flex-basis: calc(500px + 20px);
  h4 {
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 1.3em;
  }
  a {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 3px solid $rouge;
    padding-bottom: 5px;
    transition: all 0.3s;
    &:hover {
      color: $rouge;
    }
  }
}

.tristantornatore__image{
  img{
    width: 100%;
    margin-left: 80px;
  }
}

//Footer
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
  text-align: center;

  background-color: $bleu;

  p{
  font-size: 0.8em;
  color: white;
  }

  i {
    color: white;
  }

}

.nav_second {
  width: 100%;
  margin-bottom: 80px;
  ul {
    list-style: none;
    width: 100%;
  li {
    display: inline-block;
    margin: 10px;
    color: white;
    font-family: 'nunito', arial;
    border-bottom: 2px solid $rouge;
    flex-basis: calc(200px + 20px);
  }
  }
}



// RESPONSIVE

//   Media Mobile

@media (max-width: 1000px) {

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  nav {
    .menu {
      width: 300px;
    }


    .menu {
      ul {
        float: left;
      }
      li{
        display: block;
        width: 100%;
        float: left;
        margin-right: 0px;
      }
    }
  }

  //Menu responsive
  .header__lien {
    display: block;
    height: 40px;
    width: 40px;
    z-index: 999;


    position: relative;
    float: right;
    cursor: pointer;

    &:after {
      content:'';
      position: absolute;
      display: block;
      width: 20px;
      height: 0;

      top: 10%;
      bottom: 0;
      left: 50%;
      right: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.5s;

      box-shadow: 0px 10px 0px 1px grey, 0px 17px 0px 1px grey, 0px 24px 0px 1px grey;
    }
  }

  header {
    position: static;
  }

  .menu {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 100px 30px;

    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

    transform: translateX(300px * 1);
    transition: all 0.5s;


    background: $bleu;

    a {
      display: block;
      float: left;
      color: white;
      height: 40px;
      border-bottom: 2px solid $rouge;
      padding: 15px 0;
      text-decoration: none;
      font-weight: lighter;
      margin-bottom: 20px;
    }
  }

  .with--sidebar {
    .menu{
      transform: translateX(0);
      overflow: hidden;
    }

    .header__lien::after {
      box-shadow: 0px 10px 0px 1px white, 0px 17px 0px 1px white, 0px 24px 0px 1px white;
    }
  }

  //Responsive HEADER
  .header_content{
    width: span(10 of 12);
    margin-left: 0 auto;
    h1 {
      margin: 25px 0 15px 0;
    }
    .subtitle {
      font-family: 'nunito', sans-serif;
      font-size: 0.8em;
      margin-bottom: 30px;
    }
  }

  .header_footer {
    left: 50;
    right: 50;
    transform: translateX(-50%) translateY(-50%);
  }

  //CTA
  .cta {
    button{
    width: span(10 of 12);
    }
  }

  //Responsive SECTION PRESENTATION
  .presentation {
    padding: 50px 10%;
    text-align: left;
    h2 {
      margin: 30px 0;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    strong {
      border-bottom: 2px solid $rouge;
    }
  }

  .header_content {
    margin-top: 20%;
    .btn {
      width: span(11 of 12);
    }
    .btn:hover {
      width: span(12 of 12);
    }
  }

  nav img {
    width: 20%;
  }

  .header_image {
    width: span(3 of 12);
    height: 150px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .separation {
    width: 80%;
    margin: 40px auto 0px auto;
    color: rgba(0, 0, 0, 0.2);
  }

  //Responsive Offre

  //Responsive MAINTENANCE
  .meth_maint .maintenance {
    width: span(12 of 12);
  }

  //Responsive Tristan Tornatore
  .tristantornatore__image {
    img {
    margin: 90px 0px 0px 0px;
  }
  }


}

//Responsive PORTFOLIO
//.portfolio {
  //position: relative;
  //height: 300px;
  //.portfolio__projet {
  //width: 320px;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translateX(-50%) translateY(-50%);
  //}
//}


//   Media PC 13"

@media (min-width: 1000px) {

  .header_image {
    width: 25%;
  }

  .header_content h1{
    font-size: 22px;
    &:hover {
      font-size: 22px;
    }
  }

  nav {
    font-size: 14px;
  img{
    width: 40%;
  }
  }

  .presentation {
    padding: 50px 10%;
    text-align: left;
    h2 {
      margin: 30px 0;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      width: 70%;
      margin: 0 auto;
      text-align: center;
    }
    strong {
      border-bottom: 2px solid $rouge;
    }
  }

  .section__methode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

  .meth_explo {
    flex-direction: row-reverse;
  }

  .strategie__image {
    width: span(6 of 12);
    margin: 30px;
    height: 400px;
    background-color: $rouge;
  }

  //Portfolio
  .portfolio {
    padding: 50px 5%;
    .portfolio__projet {
      border-radius: 4px;
      overflow: hidden;
      display: block;
      position: relative;
      cursor: pointer;
      flex-basis: 20% + 10%;
      margin: 20px 10px;
    }
  }

  //A propos
.tristantornatore__part {
  flex-basis: 50%;
  font-size: 15px;
}

.tristantornatore__title{
  margin-top: 0;
}

}

//   Media PC +21"

@media (min-width: 1520px) {

  .header_image {
    width: 25%;
  }

  nav{
    img{
      width: 30%;
    }
  }

  .cta{
    button{
      width: span(2.5 of 12);
    }
  }

}
